
$dark: rgb(16,16,23)
$dark3: rgba(255,255,255, 0.03)
$dark5: rgba(255,255,255, 0.05)
$dark10: rgba(255,255,255, 0.1)
$dark15: rgba(255,255,255, 0.15)
$dark20: rgba(255,255,255, 0.2)
$dark30: rgba(255,255,255, 0.3)
$dark40: rgba(255,255,255, 0.4)
$dark50: rgba(255,255,255, 0.5)
$dark70: rgba(255,255,255, 0.7)
$dark3Solid: #17171E
$dark5Solid: #1C1C23
$dark10Solid: #28282F
$dark20Solid: #404045
$dark30Solid: #58585D
$dark50Solid: #88888B
$dark70Solid: #B8B8BA
$borderRad: 5px
$blue: #0578ff

=placeholder($color)
  &::-webkit-input-placeholder 
      color: $color
  &::-moz-placeholder   
      color: $color
  &::-moz-placeholder       
      color: $color
  &::-ms-input-placeholder 
      color: $color   