@import ~sass/variables 
.wrapper
    height: 100%
    width: 100%
    position: absolute
    top: 0
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center

.imageCont
    max-height: 350px
    height: 100%
    display: inline-flex
    width: 100%
    max-width: 700px
    align-items: center

.imageCont
    position: relative
    width: 650px   
    height: 100%
    background-color: #0d0c11
    border-radius: $borderRad 
    
.image
    width: 100%
    height: 100%
    background-size: contain
    background-repeat: no-repeat
    background-position: center
    position: absolute
    top: 0
    left: 50%
    transform: translateX(-50%)
    user-select: none

.arrow
    margin: auto 2rem
    font-size: 3rem
    color: $dark10
    transition: 0.3s ease
    cursor: pointer
    &:hover
        color: $dark20

.dots
    margin-top: 2rem

.dot
    margin: 0 .5rem
    height: 17px
    width: 17px
    background-color: $dark5
    border-radius: 50%
    display: inline-block
    transition: 0.3s ease
    cursor: pointer
    &.active
        background-color: $dark20
