@import ~sass/variables
 
.panel
    width: 100%
    height: 100%
    position: absolute
    padding: 6rem 3rem
    transform: translateX(-100%)
    animation: leftIn .5s ease-out forwards

    

button
    height: 100%
    width: 100%
    background-color: $dark
    border-radius: $borderRad
    font-size: 5rem
    transition: 0.3s ease
    cursor: pointer
    &:hover
        background-color: $dark3
        i
            color: $dark20
    i 
        transition: 0.3s ease
        color: $dark10


@keyframes leftIn
    0%
        opacity: 0
        transform: translateX(-100%)
    100%
        opacity: 1
        transform: translateX(0%)

@media (max-width: 1650px)
    .panel
        padding: 6rem 2rem
        
@media (max-width: 1200px)
    .panel
        padding: 6rem 1rem