@import ~sass/variables

.wrapper
    width: 100%
    height: calc(100% - 6rem)
    padding: 0 350px
    overflow-x: hidden
    overflow-y: auto
    display: flex
    flex-direction: column
    margin-bottom: 6rem

.center
    margin: auto 0

.bottom
    position: fixed
    bottom: 0
    left: 0
    width: 100%

@media (max-width: 1650px)
    .wrapper
        padding: 0 250px 
@media (max-width: 1400px)
    .wrapper
        padding: 0 175px 
@media (max-width: 1200px)
    .wrapper
        padding: 0 100px 