@import ~sass/variables
.bottomPanel
    animation: bottomFCIn .5s ease-out 
    display: flex
    justify-content: center
    height: 6rem
    background-color: $dark
    padding: 1.5rem 2rem
    position: absolute
    bottom: 50%
    width: 100%
    
.box
    background-color: $dark3
    color: $dark20
    text-align: center
    font-size: 1rem
    font-weight: bold
    border-radius: $borderRad   
    height: 100%
    width: 50px
    min-width: 50px
    margin: 0 .25rem
    cursor: pointer
    user-select: none
    transition: 0.3s ease
    &:hover
        background-color: $dark5
        color: $dark30
        img 
            opacity: .3
    &.active
        background-color: $dark10
        color: $dark70
        img 
            opacity: .7
    img
        height: 100%
        opacity: .2

.textInput
    border-radius: $borderRad  
    background-color: $dark5
    color: $dark30
    font-size: 1.1rem
    width: 0
    padding: 0
    margin-left: .25rem
    transition: 0.3s ease
    &.active
        width: 600px
        padding: 0 1rem

@keyframes bottomFCIn
    0%
        transform: translateY(200%)
        opacity: 0
    100%
        transform: translateY(0%)
        opacity: 1

    