@import ~sass/variables
.panel 
    width: 100%
    height: 100%
    position: absolute
    padding: 0 3rem
    transform: translateX(100%)
    animation: rightIn .5s ease-out forwards
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column
    
@keyframes rightIn
    0%
        transform: translateX(100%)
        opacity: 0
    100%
        transform: translateX(0%)
        opacity: 1
.wrapper
    width: 100%
    display: flex
    align-items: center
    position: relative

.box
    background-color: $dark3
    color: $dark70
    text-align: center
    font-size: 1.1rem
    border-radius: $borderRad
    padding: 0.75rem
    width: 80px
    transition: 0.3s ease
    &:hover
        background-color: $dark5
    &.active
        background-color: $dark10
        color: white

.align
    margin-bottom: 1rem 
    cursor: pointer
    position: relative
    width: 80px
.alignIcons
    position: absolute
    width: 100%
    bottom: 0
    background-color: $dark3Solid
    color: $dark70
    text-align: center
    font-size: 1.1rem
    border-radius: $borderRad
    overflow: hidden
    transition: 0.3s ease
    height: 0px
    &.active
        height: 120px
.alignIcon
    padding: 0.5rem 0
    &:hover
        background-color: $dark5

    

.inputCont
    display: flex
    align-items: center
    font-size: 1.5rem
    margin: 1rem 0
    &:nth-child(2)
        font-size: 1.2rem
input
    margin-right: 1rem
    display: block

label
    text-decoration: underline
button
    display: block
    font-size: 1rem
    background: black
    color: white
    padding: .5rem 1rem
    border-radius: 50rem
    margin: .5rem 0
.sliderHolder
    margin-left: 35px
    width: 20px
.slider
    height: 225px
    width: 100%
    border-radius: 50rem
    margin: 0 8px
    position: relative
    cursor: pointer
    background-color: $dark10
    &:first-child
        margin-left: 0
    &:last-child
        margin-right: 0
    & .bar
        height: 100%
        width: 100%
        background-color: $dark3Solid
        border-radius: 50rem 50rem 0 0
        
    & .knob
        height: 30px
        width: 30px
        background-color: $dark50Solid
        display: block
        border-radius: 50%
        position: relative
        left: -4.5px
        top: -10px
        box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3)


.colorPickerCont
    background-image: url(/assets/alphaSlider.png)
    background-size: 75px
    background-position-x: 9px
    cursor: pointer
    position: relative
.colorPicker
    width: 100%
    position: absolute
    bottom: -1px
    left: -1px
    z-index: 1
    cursor: default
    transform-origin: bottom left
    transform: scale3d(0,0,1);
    transition: 0.3s ease
    animation: growIn 0.3s ease
    opacity: 0
    &.active
        transform: scale3d(1,1,1);
        opacity: 1

@keyframes growIn
    0%
        transform: scale3d(0,0,1);
        opacity: 0
    100%
        transform: scale3d(1,1,1);
        opacity: 1
        
.color
    border-radius: $borderRad
    height: 100%
    width: 100%
    top: 0
    position: absolute
    left: 0

@media (max-width: 1650px)
    .panel
        padding: 0 2rem

@media (max-width: 1200px)
    .panel
        padding: 0 1rem