@import ~sass/variables 

.wrapper
    width: 100%
    height: 100%
    display: flex
    overflow: hidden
    
.left
    height: 100%
    width: 350px
    position: relative

.right
    height: 100%
    width: 350px
    position: relative

.center
    height: 100%
    flex-grow: 1


.bottom
    position: fixed
    bottom: 0
    left: 0
    width: 100%

.top
    position: fixed
    top: 0
    left: 0
    width: 100%
    z-index: 2
    pointer-events: none



@media (max-width: 1650px)
    .left
        width: 300px
    .right
        width: 300px
    
@media (max-width: 1400px)
    .left
        width: 275px
    .right
        width: 275px
@media (max-width: 1200px)
    .left
        width: 225px
    .right
        width: 225px
