@import ~sass/variables
.topPanel
    animation: topIn .5s ease-out forwards
    display: flex
    justify-content: space-between
    height: 6rem
    padding: 1.5rem 3rem
    

@keyframes topIn
    0%
        transform: translateY(200%)
        opacity: 0
    100%
        transform: translateY(0%)
        opacity: 1

 
.box
    background-color: $dark3
    color: $dark20
    text-align: center
    font-size: 1rem
    font-weight: bold
    border-radius: $borderRad   
    height: 100%
    transition: 0.3s ease
    &:hover
        background-color: $dark5
        color: $dark30
        img
            opacity: .3
    &.active
        background-color: $dark10
        color: $dark70
        img
            opacity: .7
.blank
    width: 90px
    pointer-events: none
    margin-left: 3rem

.filterCont
    display: flex

.filter
    width: 50px
    margin: 0 .25rem
    img
        transition: 0.3s ease
        height: 100%
        width: 100%
        opacity: .2

.styleSelector
    cursor: pointer
    width: 90px
    position: relative
    margin-right: 3rem

.currBoxIcon
    display: flex
    justify-content: center
    align-items: center
    i
        position: relative
        top: -3px
        margin-left: 5px

.boxDropIcons
    position: absolute
    width: 100%
    top: 0
    background-color: $dark10Solid
    color: $dark70
    text-align: center
    font-size: 1.1rem
    border-radius: $borderRad
    overflow: hidden
    transition: 0.3s ease
    height: 0px
    font-weight: bold
    
.boxDropIcon
    padding: 0.5rem 0
    height: 48px
    display: flex;
    align-items: center
    justify-content: center
    &:hover
        background-color: $dark5