@import ~sass/variables
.wrapper
    position: absolute
    top: 0
    left: 0
    height: 100%
    width: 100%
    display: flex
    z-index: 1000
    pointer-events: none
    &.active
        pointer-events: all
.panel
    width: 310px
    height: 100% 
    background-color: $dark3Solid
    display: flex
    flex-direction: column
    align-items: center
    justify-content: space-between
    transform: translateX(-100%)
    transition: 0.3s ease
    position: relative
    &.active
        transform: translateX(0)

.blank
    height: 300px

.section    
    padding: 3rem
    color: $dark20
    width: 100%
    font-size: 1.2rem
    font-weight: 500

.exitInvis
    flex-grow: 1

.exit
    transition: 0.3s ease
    font-size: 1.5rem
    padding: 1rem
    cursor: pointer
    position: absolute
    top: 1.5rem
    left: 2rem
    &:hover
        color: $dark70

.link   
    width: 100%
    display: flex
    align-items: center
    justify-content: space-between
    transition: 0.3s ease
    margin: 3rem 0
    i
        font-size: 1.5rem
        width: 30px
        text-align: center
    span
        display: flex
        align-items: center
        justify-content: center
        padding: 0 .5rem
        min-width: 30px
        height: 30px
        background-color: $dark20
        border-radius: 50rem
        color: $dark30
        text-align: center
        font-size: 1.1rem
        transition: 0.3s ease
    &:hover
        color: $dark70
        span
            background-color: $dark30
            color: $dark70
    &.active
        color: $dark70
        span
            background-color: $dark30
            color: $dark70
    &.disabled
        pointer-events: none
        cursor: default
        color: $dark5
        span
            background-color: $dark5
            color: $dark20

    
.subField
    width: 100%
    font-weight: 500
    cursor: pointer
    font-size: 1.05rem
    text-align: center
    height: 300px
    button 
        border-radius: $borderRad
        width: 100%
        padding: 1rem 0
        font-weight: bold
        letter-spacing: 2px
        font-size: 1rem
        font-family: ubuntu
    a 
        display: block

.blue
    margin: 1rem 0
    color: white
    background-color: $blue
    transition: 0.3s ease
    &:hover
        background-color: #3a95ff


.dark
    color: $dark30
    background-color: rgba(0,0,0,.4)
    transition: 0.3s ease
    &:hover
        background-color: rgba(0,0,0,.7)
        color: $dark50
