@import ~sass/variables

.wrapper
    height: 100%
    width: 100%
    background-color: #F7F7F7
    
.topBar
    color: white
    box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.07)
    padding: 1rem
    height: 73px
a
    background: $blue
    padding: .5rem 1rem
    border-radius: 50rem
    display: inline-block 
    font-weight: bold
    i
        margin-right: 0.5rem
    
iframe
    height: calc(100% - 73px)
    width: 100%
    display: block