@import ~sass/variables
.wrapper
    width: 100%
    height: 100%
    text-align: center
    overflow-y: scroll
    -webkit-overflow-scrolling: touch

    
h1
    font-size: 1.5rem
    line-height: 2.5rem
    margin-bottom: 3rem
    padding: 0 2rem

.logo
    width: 150px
    margin: 2rem auto
    opacity: .7

.buttonCont
    width: 100%
    padding: 0 2rem
    margin-bottom: 2rem
    button
        border-radius: $borderRad
        width: 100%
        padding: 1.5rem 0
        font-weight: bold
        letter-spacing: 2px
        font-size: 1.1rem
        font-family: ubuntu
        margin: 1rem 0
    a
        display: block

.blue
    margin: 1rem 0
    color: white
    background-color: $blue

.dark
    color: $dark30
    background-color: $dark5

.gifs
   background-color: #0d0c11
   padding-bottom: 2rem

.privacy
    margin-top: 2rem
    width: 100%
    text-align: center
    span
        display: block
        margin: 1rem 0
        font-size: 1.2rem
        a
            display: block
            padding: 1rem 0

.tuts
    width: 100%
    padding: 2rem 2rem
    display: block
    border-bottom: solid 1px black
    img
        width: 100%
        max-width: 600px
    &:last-child
        margin: 1rem 0 0 0
        border: none

