@import ~sass/variables
 
.panel
    width: 100%
    height: 100%
    position: absolute
    padding: 6rem 3rem
    transform: translateX(100%)
    animation: rightIn .5s ease-out forwards
    

button
    height: 100%
    width: 100%
    background-color: $dark
    border-radius: $borderRad
    font-size: 5rem
    transition: 0.3s ease
    cursor: pointer
    &:hover
        background-color: $dark3
        i
            color: $dark20
    i 
        transition: 0.3s ease
        color: $dark10

.copyCatCont
    height: 100%
    width: 100%
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column

.copyText
    font-size: 1.2rem
    color: $dark15
    margin-bottom: .5rem
.copyCat
    background-color: $dark3
    color: $dark20
    text-align: center
    padding: 1rem 0
    width: 100%
    font-weight: bold
    margin: .5rem 0
    border-radius: $borderRad
    transition: 0.2s
    cursor: pointer
    &:hover
        background-color: $dark5
        color: $dark50

@keyframes rightIn
    0%
        opacity: 0
        transform: translateX(100%)
    100%
        opacity: 1
        transform: translateX(0%)

@media (max-width: 1650px)
    .panel
        padding: 6rem 2rem
        
@media (max-width: 1200px)
    .panel
        padding: 6rem 1rem