.wrapper
    width: 100%
    height: 100%
    display: flex
    overflow: hidden

.top
    position: fixed
    top: 0
    left: 0
    width: 100%
    z-index: 2
    
.left
    height: 100%
    width: 350px

.right
    height: 100%
    width: 350px

.leftComp
    height: 100%
    width: 100%
    position: relative
    display: block

.rightComp
    height: 100%
    width: 100%
    position: relative
    display: block

.center
    flex-grow: 1
    position: relative

.bottom
    position: fixed
    bottom: 0
    left: 0
    width: 100%


@media (max-width: 1650px)
    .left
        width: 300px
    .right
        width: 300px
    
@media (max-width: 1400px)
    .left
        width: 275px
    .right
        width: 275px
@media (max-width: 1200px)
    .left
        width: 225px
    .right
        width: 225px