@import ~sass/variables
.panel
    width: 100%
    height: 100%
    position: absolute
    padding: 0 3rem
    transform: translateX(-100%)
    animation: leftIn .5s ease-out forwards
    display: flex
    justify-content: center
    align-items: flex-end
    flex-direction: column
@keyframes leftIn
    0%
        opacity: 0
        transform: translateX(-100%)
    100%
        opacity: 1
        transform: translateX(0%)

.styleSelector
    background-color: $dark3
    color: $dark20
    text-align: center
    padding: 1rem 0
    width: 100%
    font-weight: bold
    margin: .5rem 0
    border-radius: $borderRad
    transition: 0.2s
    cursor: pointer
    &:hover
        background-color: $dark5
        color: $dark30
    &.active
        background-color: $dark10
        color: $dark70


@media (max-width: 1650px)
    .panel
        padding: 0 2rem
        
@media (max-width: 1200px)
    .panel
        padding: 0 1rem