canvas
    display: block

.canvasRel
    position: absolute
    top: 0
    right: 0
    bottom: 0
    left: 0
    padding: 6rem 0 
.canvasAbs
    position: absolute
    display: flex
    justify-content: center
    align-items: center
    top: 0
    left: 0
    right: 0
    bottom: 0
