@import ~sass/variables
.topPanel
    margin: 0 3rem
    display: flex
    justify-content: center
    align-items: center
    height: 6rem
    opacity: 0
    transition: 0.3s ease
    cursor: default
    &.active
        opacity: 1
        pointer-events: all
        & .alignBtn
            cursor: pointer

.alignBtn
    background-color: $dark5
    border-radius: $borderRad
    padding: .7rem
    margin: 0 .5rem
    transition: 0.3s ease
    img
        opacity: 0.3
        width: 16px
        display: block
        pointer-events: none
        user-select: none
        transition: 0.3s ease
    &:hover
        color: $dark70
        background-color: $dark10
        input
            color: $dark70
        img
            opacity: 0.7
    &:focus-within
        color: $dark70
        input
            color: $dark70
        img
            opacity: 0.7
        
    

.padding
    display: flex
    align-items: center
    img
        display: inline        
    input
        background: none
        text-align: center
        width: 2em
        margin-left: .5rem
        font-size: 1.05rem
        color: $dark30
        transition: 0.3s ease

