@import ~sass/variables

.page
    position: relative
    height: 100%
    width: 100%
    
router-outlet
    display: none

.contactCont
    position: absolute
    top: 0 
    left: 0
    margin: 2rem 0 0 3rem
    opacity: 0
    animation: helpFadeIn 1s ease .5s forwards
    font-size: 1.1rem
    span 
        cursor: pointer
        &:last-child
            margin-left: 2rem      
        &:hover
            color: $dark50
.privacy
    position: absolute
    top: 0 
    right: 0
    margin: 2rem 3rem 0 0
    opacity: 0
    animation: helpFadeIn 1s ease .5s forwards
    font-size: 1.1rem
    span 
        &:last-child
            margin-left: 2rem
        cursor: pointer     
        &:hover
            color: $dark50
.menuBtn
    position: absolute
    top: 0 
    left: 0
    margin: 1.5rem 0 0 3rem
    display: inline-flex
    align-items: center
    height: 3rem
    font-size: 1.5rem
    cursor: pointer
    color: $dark30
    transition: 0.3s ease
    z-index: 999
    opacity: 0
    animation: helpFadeIn 0.3s ease .5s forwards
    &:hover
        color: $dark70

.likeCount
    margin-left: 0.75rem
    font-size: 1rem
    background-color: $blue
    color: white
    border-radius: $borderRad
    padding: .2rem .5rem
    font-weight: bold
    display: flex
    align-items: center
    position: relative
    i 
        margin-left: .25rem
    &:before
        content: ""
        display: block
        height: 8px
        width: 8px
        background-color: $blue
        position: absolute
        top: 50%
        left: 0
        transform: translate(-50%,-50%) rotate(45deg)
   
.help
    z-index: 999
    position: absolute
    top: 0
    right: 0
    display: flex
    align-items: center
    font-size: 1.5rem
    color: $dark30
    margin: 1.5rem 3rem 0 0 
    transition: 0.3s ease
    opacity: 0
    animation: helpFadeIn 0.3s ease .5s forwards
    cursor: pointer
    height: 3rem
    &:hover
        color: $dark70
    i
        position: relative

.helpNote  
    color: white
    pointer-events: none
    position: absolute
    border-radius: $borderRad
    background-color: $blue
    font-family: ubuntu
    font-size: 1.1rem
    padding: 1rem
    white-space: nowrap
    top: -50%
    right: 40px
    animation: helpNote 1s ease 3s forwards
    &:after
        content: ""
        display: block
        height: 12px
        width: 12px
        top: 50%
        right: -5px
        transform: translateY(-50%) rotate(45deg)
        position: absolute
        background-color: $blue

@keyframes helpNote
    0%
        opacity: 1
    100%
        opacity: 0

@keyframes helpFadeIn
    0%
        opacity: 0
    100%
        opacity: 1


.helpBox
    z-index: 999
    background-color: rgba(8,8,12,.95) 
    position: absolute   
    border-radius: $borderRad
    padding: 2rem
    h1
        width: 100%
        line-height: 1.25rem
        margin-bottom: 1rem
        color: $dark70
        font-size: 1.25rem
        font-weight: bold
        display: flex
        align-items: center
        justify-content: space-between
    span
        display: block
        margin-bottom: 1.5rem
        &:last-child
            margin-bottom: 0
    & .bolden
        color: $dark50
        display: inline
        margin-right: 1rem
        


.left
    top: 50%
    left: 3rem
    transform: translateY(-50%)
.right
    top: 50%
    right: 3rem
    transform: translateY(-50%)
.center
    top: 50%
    left: 50%
    transform: translate(-50%,-50%)
.bottom
    bottom: 0
    left: 50%
    transform: translateX(-50%)
    margin-bottom: 3rem
.top
    top: 0
    left: 50%
    transform: translateX(-50%)
    margin-top: 3rem

.mW275
    max-width: 275px 

.mW600
    max-width: 600px 

@media (max-width: 1100px)
    .mW275
        max-width: 200px 

    .mW600
        max-width: 400px 