@import ~sass/variables
.pickerCont
    width: 100%
    padding: 2rem
    background-color: $dark3Solid
    border-radius: $borderRad
    position: relative

.sliders
    display: flex
    justify-content: center 
    margin-bottom: 1rem

.sliderCont
    display: flex
    flex-direction: column
    align-items: center

.slider
    height: 225px
    width: 35px
    border-radius: $borderRad
    position: relative
    cursor: pointer
    margin-bottom: 1rem
    & .bar
        height: 100%
        width: 100%

    & .knob
        height: 20px
        width: 20px
        background-color: white
        display: block
        border-radius: 50%
        position: relative
        left: 7.5px
        top: -10px
        box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3)
#hueSlider
    background-image: url(/assets/hueSlider.png)
    background-repeat: no-repeat
    background-size: cover
    

#alphalider   
    position: relative
    background-image: url(/assets/alphaSlider.png)
    background-repeat: no-repeat
    background-size: 75px
    background-position-y: 3px
    & .colorBG
        height: 100%
        width: 100%
        position: absolute
        top: 0
        border-radius: $borderRad

.boxVal
    background: $dark10
    width: 45px
    border-radius: $borderRad
    margin: 0 3px
    cursor: pointer
    display: inline-block
    text-align: center
    padding: 3px 0 

.hexColorBox
    margin-top: 1rem
    display: flex
    justify-content: center
    input
        color: $dark70
        border-radius: $borderRad 
        background: $dark5
        padding: 8px 0
        display: inline-block
        font-size: 1.1rem
        width: 91px
        text-align: center
        margin-right: 1rem
    & .colorCont
        border-radius: $borderRad
        width: 91px
        overflow: hidden
        background-image: url(/assets/alphaSlider.png)
        background-size: 75px
        background-position-x: 9px
    & .color
        width: 100%
        height: 100%

.exit
    color: $dark10
    font-size: 0.9rem
    position: absolute
    top: 5px
    right: 5px
    padding: .5rem
    line-height: .5rem
    cursor: pointer

@media (max-width: 1650px)
    .pickerCont
        padding: 1rem
    .boxVal
        width: 40px
    .exit
        top: 0
        right: 0
        font-size: 0.8rem

@media (max-width: 1400px)
    .boxVal
        width: 35px
    .slider
        width: 30px
        & .knob
            left: 5px
    
