@import ~sass/variables
.bottomPanel
    margin: 0 3rem
    animation: bottomIn .5s ease-out forwards
    display: flex
    justify-content: space-between
    align-items: center
    height: 6rem

@keyframes bottomIn
    0%
        transform: translateY(200%)
        opacity: 0
    100%
        transform: translateY(0%)
        opacity: 1
.spacer
    width: 80px
.textRel
    position: relative
    height: 100%
    max-height: 100%
    width: 800px

.help
    width: 100%
    max-width: 800px
    padding: 15px
    color: $dark15
    font-size: 1.25rem
    transform: translateY(27px)
    position: absolute
    bottom: 50%
    text-align: center
    font-weight: bold
    display: flex
    justify-content: center
    flex-wrap: wrap
    img
        opacity: .15
        height: 20px
        margin-right: .5rem
    i
        margin-right: .5rem
    & .dragHelp
        margin-left: 2rem
        display: flex
        align-items: center

textarea
    display: none
    resize: none
    width: 100%
    max-width: 800px
    padding: 15px
    background-color: rgba(28,28,35,.8)
    overflow-y: hidden
    border-radius: $borderRad
    color: $dark20
    border: none
    min-height: 54px
    font-size: 1.1rem
    font-family: inherit
    line-height: 1.4em
    position: absolute
    transform: translateY(27px)
    bottom: 50%
    +placeholder($dark20)
    &.active
        display: block
        color: $dark70


.arrow
    background-color: $blue
    border-radius: $borderRad
    color: white
    font-size: 1.7rem
    width: 80px
    height: 54px
    transition: 0.3s ease
    &:disabled
        background-color: $dark20
        cursor: not-allowed