@import ~sass/variables
.bottomPanel
    animation: bottomIn .5s ease-out forwards
    display: flex
    height: 6rem
    

@keyframes bottomIn
    0%
        transform: translateY(200%)
        opacity: 0
    100%
        transform: translateY(0%)
        opacity: 1

.marginWrapper
    margin: 0 auto
    white-space: nowrap
    height: 100%
    padding: 1.5rem 2rem
    overflow-x: auto
    overflow-y: hidden
    display: flex
    
.box
    background-color: $dark3
    color: $dark20
    text-align: center
    font-size: 1rem
    font-weight: bold
    border-radius: $borderRad   
    height: 50px
    transition: 0.3s ease
    &:hover
        background-color: $dark5
        color: $dark30


.plus
    width: 50px
    min-width: 50px
    margin: 0 .25rem
    i
        font-size: 1.5rem
        
        
.fontCont
    margin: 0 .25rem
    display: flex
    align-items: center
    padding: 0 1rem
    cursor: pointer
    &.active
        background-color: $dark10
        color: $dark70