@import ~sass/variables

.wrapper
    position: absolute
    left: 0
    top: 0
    width: 100vw
    height: 100vh
    background-color: rgba(0, 0, 0, 0.5)
   
.emailForm
    max-width: 500px
    text-align: center
    border-radius: $borderRad
    padding: 2rem
    background-color: $dark5Solid
    color: $dark70
    font-size: 1rem
    position: relative
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    label
        display: block
        text-align: left
        color: $dark30
        font-weight: bold
    button
        font-size: 1.1rem
        font-weight: 700       
        border-radius: 50rem
        padding: 1rem 2rem
        width: 100%
        color: white
        background-color: $blue
        margin-top: 1.5rem
        &:active
            background: darken($blue, 20%)
        &:disabled
            cursor: not-allowed

.exit
    font-size: 1.25rem 
    color: $dark30
    overflow: auto
    i
        float: right  
        padding: 1rem
        cursor: pointer 
        transition: 0.3s ease
        &:hover
            color: $dark50


.customInput
    width: 100%
    margin: 0.5rem 0 1rem
    background-color: transparent
    padding: 10px 12px
    border-bottom: 2px solid $dark5 
    font-size: 1rem
    color: inherit
    +placeholder($dark20)
    &:-webkit-autofill 
        -webkit-transition-delay: 99999s

.formError
    color: #ff4566
    font-size: .9rem
    margin-top: -.5rem
    margin-bottom: 1rem
    text-align: left

.disclaimer
    color: $dark20
    font-size: .75rem
    margin-top: 1rem
    text-align: center

.authError
    color: #ff4566
    font-size: .9rem
    margin-top: .5rem
    text-align: center

.subSuccess
    font-size: 1rem
    margin-top: 1rem
    text-align: center
    i
        color: $blue
        margin-left: .5rem
.paymentLoading
    border: solid $blue 5px
    height: 50px
    width: 50px
    max-height: 50px
    max-width: 50px
    animation: spin 0.7s  infinite 
    border-radius: 50%
    border-top-color: transparent
    position: absolute
    right: 50%
    top: 50%        
    

@keyframes spin
    0%
        transform: translate(25px, -25px) rotate(0deg)
    100%
        transform: translate(25px, -25px) rotate(360deg)
   

@media (max-width:500px)
    .emailForm
        height: 100%
        display: flex
        flex-direction: column
        justify-content: center
    .exit
        top: 20px
        right: 20px
        position: absolute
        