@import ~sass/variables

.wrapper
    margin: 5rem 0

.catTitle
    color: $dark10
    font-size: 2rem
    font-weight: bold
   

.textBlock
    display: flex
    align-items: center
    justify-content: space-between
    margin: 2.5rem 0

.text
    color: $dark70
    font-size: 3rem
    line-height: 3rem
    word-break: break-all

.family
    margin-left: 1.5rem
    font-size: 1.15rem
    text-align: right
    transition: 0.3s ease
    position: relative
    overflow: hidden
    border-radius: $borderRad
    background: $dark3
    color: $dark20
    white-space: nowrap
    flex-shrink: 0
    cursor: pointer
    &:hover
        background: $blue
        color: white
        a 
            padding: .75rem 3rem .75rem 1rem
        i
            opacity: 1
    a
        padding: .75rem 1rem .75rem 1rem
        display: block
        transition: 0.3s ease
    i
        opacity: 0
        position: absolute
        right: 1rem

