@import ~sass/variables
*
    box-sizing: border-box
    -webkit-box-sizing: border-box
    -moz-box-sizing: border-box
    margin: 0
    padding: 0
    &:before,
    &:after 
        box-sizing: border-box
        -webkit-box-sizing: border-box
        -moz-box-sizing: border-box
    &:focus
        outline: none

button
    border: none
    background: none
    cursor: pointer
figcaption  
    color: $dark30

h1
    font-size: 3.5rem
    line-height: 4rem
    font-weight: normal
h2
    color: $dark30
html,
body 
    height: 100%
    width: 100%
    margin: 0
    padding: 0
    font-family: 'Ubuntu', sans-serif
    font-weight: 400
    line-height: 1.5rem
    -webkit-font-smoothing: antialiased   
    color: $dark30
    overflow: hidden
    -webkit-overflow-scrolling: touch
    background-color: $dark

input
    border: none
    border-radius: 0 
    appearance: none
    &:-webkit-autofill 
        border: none

input
  &[type='number']
    -moz-appearance: textfield
  &[type=number]
    &::-webkit-inner-spin-button, &::-webkit-outer-spin-button
      -webkit-appearance: none
      margin: 0
       
.customTooltip
    background-color: $dark5Solid !important
    color: $dark30 !important
    box-shadow: none !important
    padding: 10px 15px !important
    border-radius: $borderRad !important
    &>*
        &:after
            background-color:  $dark5Solid !important


@-webkit-keyframes autofill 
    to 
        color: black
        background: transparent

a 
    text-decoration: none
    outline: 0
    color: inherit
    
p   
    display: inline