@import ~sass/variables    
.upload
    height: 100%
    width: 100%
    display: flex
    flex-direction: column
    justify-content: space-between

.logo
    width: 150px
    margin: 2rem auto
    opacity: .7

.slideshow
    flex-grow: 1
    position: relative

.sampleImage
    border-radius: $borderRad
    background-color: $dark3
    color: $dark20
    font-size: 1.2rem
    padding: 1rem 1rem
    max-width: 250px
    margin: 0 auto
    text-align: center
    transition: 0.3s ease
    margin-top: 1rem
    align-self: center 
    cursor: pointer
    &:hover
        background-color: $dark5
    i 
        margin-left: .5rem

.inputCont
    margin-top: 2rem 
    text-align: center
    height: 200px
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column
    position: relative
    background-color: $dark3
    border-radius: $borderRad
    overflow: hidden
    transition: 0.3s ease
    &.replaceImage  
        height: 100%
    &:hover
        background-color: $dark5
    img
        opacity: .3
        cursor: pointer
        margin-bottom: 1rem
        width: 115px
        pointer-events: none
    input
        opacity: 0
        width: 100%
        height: 100%
        cursor: pointer
        position: absolute
        top: 0
        left: 0
    p
        color: $dark20
        display: block
        font-weight: bold
        font-size: 1.1rem

    & .dottedBorder
        pointer-events: none
        position: absolute
        top: 0
        left: 0
        height: 100%
        width: 100%
        opacity: 0
        border: dashed 5px $dark20
        &.active
            opacity: 1
